* {
    /*全局选择器*/
    margin: 0px;
    padding: 0px;
}
 
body {
    /*主体*/
    color: aliceblue;
    /*颜色*/
    font-family: 楷体;
    /*字体样式*/
    background-color: rgb(131, 200, 255);
}
 

header {
    color: rgb(66, 150, 229);
    font-family: 宋体;/*字体样式*/
}
.header {
    /*头部*/
    width: 100%;/*宽度*/
    height: 100%/*高度*/
    
}

.dh ul {
    /*导航栏*/
    margin-bottom: 30px;
    padding: 0px;
    height: 30px;
    width: 1539px;
}
 
.dh ul li {
    /*导航栏列表*/
    height: 30px;
    width: 16.45%;
    list-style: none;
    /*列表样式无*/
    float: left;
    /*左浮动*/
    display: inline;
    /*行内显示*/
    font: 0.9em;
}
 
.dh ul li a {
    /*导航栏超链接*/
    text-align: center;
    color: white;
    width: 100%;
    font-size: larger;
    text-decoration: none;
    /*下划线无*/
    display: block;
    background-color: rgb(87, 156, 241);
    line-height: 40px;
    border-bottom: 1px solid rgb(168, 164, 172);
}
 
.dh ul li a:hover {
    /*鼠标划过时*/
    color: rgb(0, 0, 0);
    background-color: rgb(37, 84, 155);
    border-bottom: 3px solid rgb(16, 4, 28);
}
 
.footer {
    /*尾部*/
    clear: both;
    width: 100%;
    height: 70px;
    background-color: rgb(87, 156, 241);
    color: rgb(28, 41, 99);
    font: italic 14px/20px 宋体;
    text-align: center;
}
 
.footer p {
    /*尾部段落*/
    margin-top: 10px;
}
 
 
.zhuti {
    /*主体*/
    margin: 10px 150px 0px 150px;
    background-color: burlywood;
}
 
#zhutiright {
    /*小猫排行榜标题主体右边*/
    width: 25%;
    height: 400px;
    background-color: rgb(95, 183, 255);
    float: left;
}
 
#d1 {
    /*小猫排行耪标题主体右边*/
    font-family: 黑体;
    font-size: 100%;
    color: white;
    float: left;
    background-color: rgb(50, 161, 252);
    width: 100px;
    height: 20px;
    padding: 5px 5px;
    margin: 4px;
}
 
#d2 {
    /*小猫排行耪内容设置*/
    clear: both;
}
 
#zhutiright ul li {
    /*列表设置*/
    list-style-type: none;
    /*列表样式无*/
}
 
#zhutiright ul {
    /*列表设置*/
    margin: 0px;
    padding: 15px 10px 15px 10px;
}
 
#zhutiright ul li a {
    /*列表超链接设置*/
    display: block;
    text-decoration: none;
    color: black;
    line-height: 30px;
    border-bottom: 1px dashed black;
    padding: 0px 0px 0px 0px;
}
 
#zhutiright span {
    /*排列大小*/
    float: right;
}
 
#zhutileft {
    /*主体左边设置*/
    width: 50%;
    height: 400px;
    background-color: rgb(131, 200, 255);
    float: left;
    overflow: hidden;
    /*隐藏*/
    border-radius: 5px;
    /*弧度*/
 
}
 
#photo {
    /*动画设置图片*/
    display: block;
    width: 3045px;
    height: 400px;
    animation: bj 8s linear infinite;
    /*动画*/
}
 
#photo img {
    /*图片设置*/
    float: left;
    width: 609px;
    height: 100%;
    padding: 0px 0px 0px 0px;
    object-fit: cover;
}
 
/*轮播图动画*/
@keyframes bj {
 
    0%,
    20% {
        margin-left: 0px;
    }
 
    25%,
    40% {
        margin-left: -609px;
    }
 
    45%,
    60% {
        margin-left: -1218px;
    }
 
    65%,
    80% {
        margin-left: -1827px;
    }
 
    85%,
    100% {
        margin-left: -2436px;
    }
}
 
#zhutimain {
    /*中间内容设置*/
    width: 25%;
    height: 400px;
    background-color: rgb(123, 186, 238);
    float: left;
    text-align: center;
}
 
#zhutimain img {
    /*中部图片设置*/
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 8px 0px 0px 0px;
    object-fit: cover;
}
 
#zhutimain h4 {
    /*中间内容标题设置*/
    color: rgb(0, 3, 95);
}
 
#zhutimain p {
    /*中间主体段落设置*/
    margin: 3px 5px 0px 5px;
    letter-spacing: 2px;
    /*字间距设置*/
    text-indent: 2em;
    line-height: 1.5em;
}
 
#bottom {
    /*底部四个大图猫咪div设置*/
    width: 100%;
    height: 300px;
    background-color: rgb(123, 186, 238);
    clear: both;
}
 
#cat1 {
    /*猫咪1设置*/
    float: left;
    width: 24.5%;
    height: 300px;
    background-color: rgb(123, 186, 238);
    text-align: center;
    border-style: solid;
}
 
#cat1 img {
    /*猫咪1图片设置*/
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 8px 0px 0px 0px;
    object-fit: cover;
}
 
 
#cat1 h4 {
    /*猫咪1标题设置*/
    color: brown;
}
 
 
#cat1 p {
    /*猫咪1段落设置*/
    margin: 3px 5px 0px 5px;
    letter-spacing: 2px;
    text-indent: 2em;
    line-height: 1.5em;
}
 
#cat2 {
    /*猫咪2设置*/
    float: left;
    width: 24.5%;
    height: 300px;
    background-color: rgb(123, 186, 238);
    text-align: center;
    border-style: solid;
    border-left: none;
}
 
#cat2 img {
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 8px 0px 0px 0px;
    object-fit: cover;
}
 
#cat2 h4 {
    color: brown;
}
 
 
#cat2 p {
    margin: 3px 5px 0px 5px;
    letter-spacing: 2px;
    text-indent: 2em;
    line-height: 1.5em;
}
 
#cat3 {
    /*猫咪3设置*/
    float: left;
    width: 24.5%;
    height: 300px;
    background-color: rgb(123, 186, 238);
    text-align: center;
    border-style: solid;
    border-left: none;
}
 
#cat3 img {
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 8px 0px 0px 0px;
    object-fit: cover;
}
 
 
#cat3 h4 {
    color: brown;
}
 
 
#cat3 p {
    margin: 3px 5px 0px 5px;
    letter-spacing: 2px;
    text-indent: 2em;
    line-height: 1.5em;
}
 
#cat4 {
    /*猫咪4设置*/
    float: left;
    width: 24.5%;
    height: 300px;
    background-color: rgb(123, 186, 238);
    text-align: center;
    border-style: solid;
    border-left: none;
}
 
#cat4 img {
    border-radius: 5px;
    width: 250px;
    height: 160px;
    margin: 8px 0px 0px 0px;
    object-fit: cover;
}
 
 
#cat4 h4 {
    color: brown;
}
 
 
#cat4 p {
    margin: 3px 5px 0px 5px;
    letter-spacing: 2px;
    /*字间距设置*/
    text-indent: 2em;
    line-height: 1.5em;
}